@model Desafio_Luma.Models.Local

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Local</h1>

<h4>Local</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CordenadaX" class="control-label"></label>
                <input asp-for="CordenadaX" class="form-control" />
                <span asp-validation-for="CordenadaX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CordenadaY" class="control-label"></label>
                <input asp-for="CordenadaY" class="form-control" />
                <span asp-validation-for="CordenadaY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
